<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Searchify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style_search.css') }}">
</head>
<body>
  <div id="particles-js"></div>
    <script type="text/javascript" src="{{url_for('static',filename='js/particles.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/app.js') }}"></script>
    <!-- <a class="active" href="{{url}}">Home</a> -->
    <div class="searchbar">
        <form action = "{{url}}/search" method = "POST">
        <input
          type="text"
          class="header-search"
          value = "{{ques}}"
          placeholder="Search Any Question"
          name="search"
        />
        <button class="btnsubmit" type="submit">Search</button>
        
      </form>
    </div>
    <div class="ans">
      <h2> Search </h2>
      <br>
      <p>Question : <b>{{ques}}</b></p>
      {% for i in range(5) %}
        <p>{{pdftext[i][:offset[i][0]]}}
        <mark>{{pdftext[i][offset[i][0]:offset[i][1]+1]}}</mark>
        {{pdftext[i][offset[i][1]+1:]}}
        </p>
      <br>
      {% endfor %}
  </div>
</body>
</html>